* {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
  font-size: 62.5%;
}
body {
  background: #fff;
  color: #575757;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 4.07em;
  margin: 0;
  color: #fff;
}
p {
  font-size: 1.8em;
}
header {
  background: #6d7d7b;
  margin-bottom: 1.45rem;
}
header a {
  color: #fff;
  text-decoration: none;
}
footer {
  margin-top: 3.2rem;
  font-size: 1.8em;
}
.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 2.32rem 1.74rem;
}
