* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
  font-size: 62.5%;
}

body {
  background: #fff;
  color: #575757;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 4.07em;
  margin: 0;
  color: #fff;
  @media (max-width: 520px) {
    font-size: 2.8em;
  }
}

p {
  font-size: 1.8em;
}

header {
  background: #6d7d7b;
  margin-bottom: 7rem;
}

header a {
  color: #fff;
  text-decoration: none;
}

footer {
  margin-top: 3.2rem;
  font-size: 1.8em;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 2.32rem 1.74rem;
}

.imageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.6rem;
  margin-bottom: 16px;
  @media (max-width: 800px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 520px) {
    grid-template-columns: 1fr;
  }
}

span {
  &:first-of-type {
    margin-top: 1em;
  }
  &:last-of-type {
    margin-bottom: 1.5em;
  }
}

.caption {
  font-size: 1.4em;
  text-transform: uppercase;
  margin: 0.5rem 0;
  display: block;
}
